{{ partial "header.html" . }}
<div class="infotablearea">
    <div class="infotablearea_head">新着情報</div>
    <table class="infotable">
        <tr>
            <td class="date">20xx.xx.xx</td>
            <td class="information"><a href="">タイトル</a></td>
        </tr>
        <tr>
            <td class="date">20xx.xx.xx</td>
            <td class="information"><a href="">タイトル</a></td>
        </tr>
        <tr>
            <td class="date">20xx.xx.xx</td>
            <td class="information"><a href="">タイトル</a></td>
        </tr>
        <tr>
            <td class="date">20xx.xx.xx</td>
            <td class="information"><a href="">タイトル</a></td>
        </tr>
        <tr>
            <td class="date">20xx.xx.xx</td>
            <td class="information"><a href="">タイトル</a></td>
        </tr>
        <tr>
            <td class="date">20xx.xx.xx</td>
            <td class="information"><a href="">タイトル</a></td>
        </tr>
        <tr>
            <td class="date">20xx.xx.xx</td>
            <td class="information"><a href="">タイトル</a></td>
        </tr>
    </table>
</div>
        {{ partial "footer.html" . }}